<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PocclientApplication.Properties.Settings.pocdatabaseConnectionString"
            connectionString="Data Source=CLOUDTIME-PC;Initial Catalog=pocdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PocclientApplication.Properties.Settings.pocdatabaseConnectionString1"
            connectionString="Data Source=JANCN-PC;Initial Catalog=pocdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" sendTimeout="00:30:00"
                    maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6963/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>